@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-playfair);
  --color-gold: #C69C6D;
  --color-gold-dark: #9E7D57;
  --color-pink-soft: #F9F3F1;
  --color-pink-deep: #D4A398;
  --color-rich-black: #2C2C2C;
}

@layer base {
    body {
        font-family: var(--font-outfit);
        background-color: var(--color-pink-soft);
        color: var(--color-rich-black);
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-playfair);
    }
    button {
        cursor: pointer;
    }
}

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}